body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#383F74,#101439);
    color: gainsboro;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    height: 100vh;
}

.title{
    font-size: 40px;
    margin-top: 30px;
    text-shadow: 0 0 10px #fff;
}

#snowbutton{
    padding: 12px 25px;
    font-size: 18px;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: darkred;
}
#snowbutton:hover{
    transform: scale(1.1);
    background-color: #81d4fa;
}

.tree-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    position: relative;
    width: 400px;
    margin: 40px auto 0 auto;
}

.tree-img {
    width: 100%;
    height: auto;
}

.light{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    animation: blink 1.2s infinite alternate;
    box-shadow: 0 0 8px currentColor; 
}
@keyframes blink{
    0% {opacity: 0.2; transform: scale(0.8);}
    50% {opacity: 1; transform: scale(1.2);}
    100% {opacity: 0.3; transform: scale(0.9);}
}

#snow {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: -1; 
}

.flake {
    position: absolute;
    color: white;
    animation-name: fall;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fall {
    0% { transform: translateY(-10vh); }
    100% { transform: translateY(110vh); }
}
#snowbutton:disabled {
    cursor: default;
    background-color: darkred;
    color: black;
    transform: scale(1);
    opacity: 1;
}

.star {
    position: absolute;
    top: -35px;
    left: 50%
    transform: translateX(-50%)
    font size: 40px;
    color: gold;
    text shadow: 0 0 10px gold;
    animation: twinkle 1.5 infinite alternate;
    z-index: 10;
}
    @kayframes twinkle {
        from{
        transform: translateX(-50%) scale(1);
        opacity: 0.8;
    }
to {
transform: translateX(-50%) scale(1.2)
opacity: 1;
}
}

